doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Badminton Score Page
    link(rel="stylesheet" href="./assets/css/matches.css") 
    link(rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
  body
    header
      nav
        .logo
          img(src="./assets/images/logo.jpg", alt="Logo Image")
          h2 LIVE SPORTS SCOREBOARD
        .hamburger#hamburger
          div
          div
          div
        ul
          li: a(href="/home") Home
          li: a(href="/about") About Us
          li: a(href="/service") Services
          li: a(href="/contact") Contact
          li: a(href="/dashboard") Dashboard
          li: a(href="/") Logout
          

    // Navigation Tabs
    .nav-tabs
      a(href="#" data-content="matches" class="filter-btn active") Matches
      a(href="#" data-content="events" class="filter-btn") Events
      a(href="#" data-content="players" class="filter-btn") Players
      a(href="#" data-content="scores" class="filter-btn") Scores        
      a(href="#" data-content="teams" class="filter-btn") Teams              
      a(href="#" data-content="referees" class="filter-btn") Referee

    // Content Display Area
    #contentArea.content-area
      h2 Select a filter to see content

    footer
      .footer-container
        .footer-column
          h3 Quick Links
          ul
            li: a(href="/index") Home
            li: a(href="/teams") Teams
            li: a(href="/fixtures") Fixtures
            li: a(href="/scores") Live Scores
        .footer-column
          h3 Follow Us
          .social-icons
            a(href="#")
              i.fab.fa-facebook
            a(href="#")
              i.fab.fa-twitter
            a(href="#")
              i.fab.fa-instagram
            a(href="#")
              i.fab.fa-youtube
        .footer-column.newsletter
          h3 Subscribe to Our Newsletter
          p Stay updated with the latest scores and news!
          form(action="" method="" onsubmit="")
            input(type="email" name="email" placeholder="Enter your email" required)
            button(type="submit") Subscribe
      .copyright
        p &copy; 2024 Live Sports Scoreboard. All rights reserved.

    script(src="./assets/js/badminton.js") // Corrected the path
